<launch>
  <arg name="kbd_teleop" default="false"/>
  <arg name="rqt_teleop" default="false"/>
  <arg name="visualize" default="true"/>
  <arg name="with_robot" default="true"/>

   <arg name="simulation_factor" default="1.0"/> <!-- Speed up -->
   <arg name="update_rate" default="25.0"/> <!-- Hz -->
   <arg name="ns" default="zoe"/>
   <arg name="robot_description" default="$(find zoe_control)/urdf/zoe.urdf"/>

   <arg name="pose_initial_x" default="-36.0"/>
   <arg name="pose_initial_y" default="-6.5"/>
   <arg name="pose_initial_theta" default="0"/>
   <arg name="max_robot_speed" default="2.5"/>

  <!-- Simulator -->
  <include file="$(find pedsim_simulator)/launch/simulator.launch">
    <arg name="kbd_teleop" value="$(arg kbd_teleop)"/>
    <arg name="rqt_teleop" value="$(arg rqt_teleop)"/>
    <arg name="scene_file" value="$(find experimental_package)scenarios/other/frontal.xml"/>
    <arg name="with_robot" value="$(arg with_robot)"/>
    <arg name="robot_description" value="$(arg robot_description)"/>
    <arg name="simulation_factor" value="$(arg simulation_factor)"/>
    <arg name="update_rate" value="$(arg update_rate)"/>
    <arg name="max_robot_speed" value="$(arg max_robot_speed)"/>
    <arg name="robot_mode" value="0"/>
    <arg name="enable_groups" value="false"/>
    <arg name="group_size_lambda" default="0.8"/>
    <arg name="groups_couples_proportion" default="0.05"/>
    <arg name="groups_friends_proportion" default="0.1"/>
    <arg name="groups_families_proportion" default="0.05"/>
    <arg name="groups_coworkers_proportion" default="0.8"/>
    <arg name="pose_initial_x" value="$(arg pose_initial_x)"/>
    <arg name="pose_initial_y" value="$(arg pose_initial_y)"/>
    <arg name="pose_initial_theta" value="$(arg pose_initial_theta)"/>
    <arg name="ns" value="$(arg ns)"/>
  </include>

   <!-- Visualizer -->
   <include file="$(find pedsim_visualizer)/launch/visualizer.launch" if="$(arg visualize)">
   </include>

   <!-- Rviz -->
   <node pkg="rviz" type="rviz" name="rviz" args="-d $(find pedsim_simulator)/rviz/with_robot_zoe.rviz" if="$(arg visualize)"/>

</launch>







